<h1><center> Classification Model for Patient's having a Heart Disease<center></h1>
<h2><center>PART A - without using scikit learn pipeline </center></h2>
### Website link - https://www.kaggle.com/ronitf/heart-disease-uci/home

 ### 1) Import numpy, pandas

In [1]:
import pandas as pd
import numpy as np

### 2) Read the heart.csv file into a dataframe called df, and  view a 2% random sample of the data

In [2]:
df = pd.read_csv('heart.csv')
df.sample(frac=0.02)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2,1
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3,1
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1

### 3) Get info on df columns (what are the dtypes on each column)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

### 4) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1

In [4]:
X = df.drop(['target'], axis=1)
y = df['target']

from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)

### Following code to deal with SetttingWithCopyWarning, and ensure we are working with a copy of the data and not a view
Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

### 5) Get basic stats on Xtrain (such as count, mean, std, etc)

In [5]:
Xtrain.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.00000,242.00000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,54.475207,0.694215,0.979339,131.380165,246.371901,0.14876,0.53719,149.524793,0.318182,1.023140,1.409091,0.727273,2.289256
std,9.155719,0.461694,1.024385,17.409520,51.509276,0.35659,0.52397,23.560318,0.466736,1.098264,0.612796,1.006205,0.610258
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.00000,0.00000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,120.000000,212.000000,0.00000,0.00000,134.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.00000,1.00000,154.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.000000,0.00000,1.00000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,192.000000,564.000000,1.00000,2.00000,202.000000,1.000000,5.600000,2.000000,4.000000,3.000000

### 6) Check if there are any NaNs in any of the columns in Xtrain

In [6]:
print("Method 1 = ", Xtrain.isna().any().any())
print("Method 2 = ", Xtrain.isna().sum().sum())

Method 1 =  False
Method 2 =  0

### 7) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldspeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [7]:
numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

### 8) Standard Scale all of the numeric features in Xtrain, include transformed numeric features in Xtrain, and drop original numeric features in Xtrain

In [8]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
Xtrainnumss = pd.DataFrame(ss.fit_transform(Xtrain[numeric_features]), columns=['ss_'+x for x in numeric_features], index=Xtrain.index)
Xtrain = pd.concat([Xtrain, Xtrainnumss], axis=1)
Xtrain.drop(numeric_features, axis=1, inplace=True)
Xtrain.head()

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
62,1,3,0,0,0,1,0,1,-0.270906,-0.770147,-1.174488,1.721500,-0.933529
127,0,2,0,1,0,2,1,2,1.370810,1.186855,0.595846,0.955920,-0.933529
111,1,2,1,1,0,2,1,3,0.276333,1.071737,-2.341741,0.998453,-0.751046
287,1,1,0,0,0,2,1,2,0.276333,1.301972,-0.279594,0.615663,-0.933529
108,0,1,0,1,0,2,0,2,-0.489801,-0.655030,-0.046143,0.530598,0.070128

### 9) OneHotEncode all of the categorical features in Xtrain, include transformed categorical features in Xtrain, and drop original categorical features in Xtrain

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False, dtype=int, handle_unknown='error', categories='auto')
Xcat = pd.DataFrame(ohe.fit_transform(Xtrain[categorical_features]), 
                    columns=ohe.get_feature_names(), index=Xtrain.index)
Xtrain = pd.concat([Xtrain, Xcat], axis=1)

Xtrain.drop(categorical_features, axis=1, inplace=True)

### 10) Fit a Logistic Regression Model to training data with random_state=1

In [10]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=1)  
lr.fit(Xtrain, ytrain)

C:\Users\Akansha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=1, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### 11) Standard Scale all of the numeric features in Xtest, include transformed numeric features in Xtest, and drop original numeric features in Xtest

In [11]:
Xtestnumss = pd.DataFrame(ss.transform(Xtest[numeric_features]), columns=['ss_'+x for x in numeric_features], index=Xtest.index)
Xtest = pd.concat([Xtest, Xtestnumss], axis=1)


Xtest.drop(numeric_features, axis=1, inplace=True)
Xtest.head()

,sex,cp,fbs,restecg,exang,slope,ca,thal,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak
204,0,0,0,0,0,0,3,3,0.823571,1.647326,-1.602481,-0.192449,4.723443
159,1,1,0,0,0,2,0,3,0.166885,-0.079441,-0.493590,0.573130,-0.933529
219,1,0,1,0,1,2,2,3,-0.708697,-0.079441,0.187307,0.020212,-0.933529
174,1,0,0,0,1,1,2,3,0.604676,-0.079441,-0.785404,-0.745368,1.256267
184,1,0,0,0,0,1,0,3,-0.489801,1.071737,-0.065598,-0.915497,1.438750

### 12) OneHotEncode all of the categorical features in Xtest, include transformed categorical features in Xtest, and drop original categorical features in Xtest

In [12]:
Xcat = pd.DataFrame(ohe.transform(Xtest[categorical_features]), columns=ohe.get_feature_names(), index=Xtest.index)
Xtest = pd.concat([Xtest, Xcat], axis=1)


Xtest.drop(categorical_features, axis=1, inplace=True)
Xtest.head()

,ss_age,ss_trestbps,ss_chol,ss_thalach,ss_oldpeak,x0_0,x0_1,x1_0,x1_1,x1_2,...,x5_2,x6_0,x6_1,x6_2,x6_3,x6_4,x7_0,x7_1,x7_2,x7_3
204,0.823571,1.647326,-1.602481,-0.192449,4.723443,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
159,0.166885,-0.079441,-0.493590,0.573130,-0.933529,0,1,0,1,0,...,1,1,0,0,0,0,0,0,0,1
219,-0.708697,-0.079441,0.187307,0.020212,-0.933529,0,1,1,0,0,...,1,0,0,1,0,0,0,0,0,1
174,0.604676,-0.079441,-0.785404,-0.745368,1.256267,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,1
184,-0.489801,1.071737,-0.065598,-0.915497,1.438750,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1

### 13) Predict and Evaluate Logisitic Regression Model on Xtest

In [13]:
ypred = lr.predict(Xtest)

from sklearn import metrics
print(metrics.accuracy_score(ytest, ypred))

0.7868852459016393

<h1><center>Part B - using sklearn pipeline </center></h1>

### 14) (a) Read in heart.csv in to a dataframe called df; (b) Split the data into Xtrain, Xtest, ytrain, ytest - with 20% in test, and random_state=1; (c) Create two lists called numeric_features (with age, trestbps, chol, thalach, oldspeak), and categorical_features (with sex, cp, fbs, restecg, exang, slope, ca, thal)

In [14]:
#read data 
df = pd.read_csv('heart.csv')

#split target and features
X = df.drop(['target'], axis=1)
y = df['target']

#split Xtrain, Xtest, ytrain, ytest 
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)

### Following code to deal with SetttingWithCopyWarning, and ensure we are working with a copy of the data and not a view
Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

#create numeric and categorial features
numeric_features = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

### 15) Create a pipeline called "numeric_transformer" with a StandardScaler step called "ss" (using the same parameters used in Part A above)

In [15]:
from sklearn.pipeline import Pipeline
numeric_transformer = Pipeline(steps=[('ss', StandardScaler(with_mean=True, with_std=True))])

### 16) Create a pipeline called "categorical_transformer" with a OneHotEncoder step called "ohe" (using the same parameters used in Part A above)

In [16]:
categorical_transformer = Pipeline(steps=[('ohe', 
                                   OneHotEncoder(sparse=False, dtype=int, handle_unknown='error', categories='auto'))])

### 17) Create a column transformer called "preprocessor" with two transformers: (a) the first transformer called "num" which uses the numeric_transformer you defined above on the numeric_features; and (b) the second transformer called "cat" which uses the categorical_transformer defined above on the categorical_features

In [17]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

### 18) Create a pipeline called "clf" with two steps: (a) the first step called "pp" which invokes the preprocessor you defined above; and (b) the second step called "lr" which involkes a logisitc regression model  (using the same parameters used in Part A above)

In [18]:
clf = Pipeline(steps=[('pp', preprocessor),
                      ('lr', LogisticRegression(random_state=1))])

### 19) Fit the clf pipeline to the training data

In [19]:
clf.fit(Xtrain, ytrain)

C:\Users\Akansha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pipeline(memory=None,
         steps=[('pp',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  Pipeline(memory=None,
                                                           steps=[('ss',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean=True,
                                                                                  with_std=True))],
                                                           verbose=False),
                                                  ['age', 'trestbps', 'chol',
                                                   'thalach', 'oldpeak']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('ohe',
                                                                   OneHotE...
                                                                                 sparse=False))],
                                                           verbose=False),
                                                  ['sex', 'cp', 'fbs',
                                                   'restecg', 'exang', 'slope',
                                                   'ca', 'thal'])],
                                   verbose=False)),
                ('lr',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='warn', n_jobs=None,
                                    penalty='l2', random_state=1, solver='warn',
                                    tol=0.0001, verbose=0, warm_start=False))],
         verbose=False)

### 20) Predict and Evaluate clf pipeline on Xtest (same results as in Part A above)

In [20]:
ypred = clf.predict(Xtest)
print (metrics.accuracy_score(ytest, ypred))

0.7868852459016393